In [21]:
import pandas as pd

In [23]:
orders = pd.read_csv('/Users/artempak_macbook_air/Desktop/Code/python_learning/alex_python_for_pm/module_9_merging_dataframes/data/orders.csv')
orders.head()

   payment_id  user_id               created_at  payment_sum
0           2        2  2019-12-09 16:57:19.000        42.26
1           4        4  2019-12-10 03:49:35.000        18.25
2           6        6  2019-12-12 00:19:08.000        10.52
3           7        7  2019-12-13 15:15:30.000        14.02
4           8        8  2019-12-14 00:02:06.000        10.78

In [24]:
users = pd.read_csv('/Users/artempak_macbook_air/Desktop/Code/python_learning/alex_python_for_pm/module_9_merging_dataframes/data/users.csv')
users.head()

,id,email,reg_date,first_name,last_name,country,user_uuid
0,1124,ts2000@hotmail.com,2020-06-28,Timothy,Simmons,US,a7c9b0bd-475e-4c49-8c4f-ff78063cff2e
1,1766,martinez1985@bing.com,2020-09-20,Jose,Martinez,China,73682891-8f7e-4890-a32a-0422437a588d
2,4132,patton1986@gmail.com,2021-09-01,Maria,Patton,India,5e77f1a0-af61-4216-99fc-b91d2f7fdd63
3,3662,jonathan.vaughan@mail.com,2021-06-23,Jonathan,Vaughan,China,557118ac-5bf9-4765-a036-b781dac497f5
4,4804,bsingleton@gmail.com,2021-12-15,Bradley,Singleton,Germany,fc8a9241-3e12-4c77-b21a-fd6e9b6466f1

In [26]:
users[users['id'].isin(orders['user_id'].unique())]

Empty DataFrame
Columns: [id, email, reg_date, first_name, last_name, country, user_uuid]
Index: []

In [25]:
orders['user_id'].unique()

array([ 2,  4,  6,  7,  8, 10, 12, 15, 16, 17, 18, 20, 21, 22])

In [31]:
# операция обьединения двух таблиц - join 
# в пандас она называется merge

users.merge(orders, how='inner', left_on='id', right_on='user_id')
#обьединяем таблицы по колонкам «слева из левой таблицы и справа из правой таблицы»
# один ко многим — один пользователя ко многим заказам
# каждый раз когда мы обьединяем датафреймы через внутренний джоин — в результующем
# датафрейме каждая строка первого дата фрейма связана с одной или многоими из второго
# в результате будут только строки, которые есть во второй таблице

Empty DataFrame
Columns: [id, email, reg_date, first_name, last_name, country, user_uuid, payment_id, user_id, created_at, payment_sum]
Index: []

In [34]:
list((
    users.
    merge(orders, how='inner', left_on='id', right_on='user_id')
    ['email']
    .unique()
))

[]